{
  "name": "{{service_title}}",
  "dockerComposeFile": ["../docker-compose.yml"],
  "shutdownAction": "stopCompose",
  "service": "app",
  "workspaceFolder": "/app",
  "settings": {
    "python.pythonPath": "/usr/local/bin/python",
    "terminal.integrated.defaultProfile.linux": "bash",
    "terminal.integrated.profiles.linux": {
      "bash": {
        "path": "/bin/bash"
      }
    }
  },
  "extensions": [
    "ms-python.python",
    "ms-python.vscode-pylance",
    "ms-vsliveshare.vsliveshare"
  ],
  "remoteUser": "app"
}
